__pycache__/
*.pyc
*.pyo
*.db
.env
Dockerfile.bak
*.bak
.venv/
*.log
*.bak
*.log
basic_mol.json
pistachio_5000.json
pre_encoded_data.pt
chemmbart_yield/
*.pickle
streamlit-agent-main/
streamlit-agent-main.zip
__pycache__/
